<div class="customerInfoBorder">
  {{customer.firstName}} {{customer.lastName}}
  <img class = img src="http://via.placeholder.com/70x70">
  <hr>
  <button type="button" class="btn-link" data-toggle="modal" data-target="#myModal">Account Settings</button>
  <p></p>
  <button type="button" class="btn-link" routerLink="/product" (click)="deleteCustomer()"> Delete account</button>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Account settings</h3>
      </div>
      <div class="modal-body">
       Firstname: <input class="input" type="text" [value]="customer.firstName" (input)="inputFirstname=$event.target.value">
        <p></p>
        Lastname: <input class="input" type="text" [value]="customer.lastName" (input)="inputLastname=$event.target.value">
        <p></p>
        Address: <input class="input" type="text" [value]="customer.address" (input)="inputAddress=$event.target.value">
      </div>
      <div class="modal-footer">
        <button type="button" class=" btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


