.productBorder{
  border: solid 2px blue;
  border-radius: 10px;
  margin: 5px;

}

.productBorder.unelectable:hover{
  cursor: pointer;
}

.unelectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
