.productBorder{
  border: solid 2px blue;
  border-radius: 10px;
  margin: 5px;

}
.unelectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.img{
  float: left;
margin: 4px;
  border-radius: 10px;
}


.text{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

